
.header{
    border-bottom: 1px solid black;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    
   
}



ul{
    
    list-style-type: none;
}

li > a{
    text-decoration: none;
    color: slate;
    font-weight: bold;
    pointer-events: pointer;
}

.navbar{
    display: flex;
    gap: 200px;
    margin-left: auto;
    margin-right: 50px;
    font-size: 15px;
}